.container {
  display: flex;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: green;
  width: 250px;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}
nav.cut {
  transform: translateX(-100%);
  visibility: hidden;
}

section {
  background: yellow;
  flex: 1;
  /* transform: translateX(-100%); */
  transition: width 0.3s ease-in-out;
}
